.video-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  cursor: crosshair;
}

.controls {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.control-link {
  padding: 3px;
  user-select: none;
  color: white;
  text-decoration: none;
  font-style: italic;
  font-size: 1.5em;
  cursor: pointer;
}

.control-link:hover {
  color: yellow;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-none {
  display: none;
}

.grid {
  display: grid;
  grid-row-gap: 5px;
  grid-column-gap: 15px;
  grid-template-columns: auto auto auto;
  grid-auto-rows: auto 1fr 1fr 1fr;
  padding: 0 100px;
  text-align: center;
  justify-content: space-evenly;
  cursor: crosshair;
}

.grid-header {
  font-style: italic;
  padding: 15px;
  grid-column: 1 / 4;
}

.grid-video {
  width: 100%;
  height: auto;
  border: 5px solid black;
  filter: grayscale(1);
}

.active {
  border: 5px solid yellow;
  filter: none;
}

.fullscreen {
  width: auto;
  height: 100%;
  text-align: center;
}

.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.mapboxgl-canvas:focus {
  outline: none
}

.marker {
  background-size: cover;
  width: 20px;
  height: 15px;
  cursor: pointer;
  transition: background-image .2s ease-in-out, opacity .2s;
  opacity: 0.5;
}

.marker:hover {
  opacity: 1;
}

.marker-active {
  opacity: 1;
}

.marker-yellow {
  background-image: url(../media/prologue/marker-yellow.svg);
}

.marker-0 {
  background-image: url(../media/prologue/marker-cyan.svg);
  opacity: 1;
}

.marker-1 {
  background-image: url(../media/prologue/marker-chartreuse.svg);
  opacity: 1;
}

.marker-2 {
  background-image: url(../media/prologue/marker-magenta.svg);
  opacity: 1;
}

.marker-3 {
  background-image: url(../media/prologue/marker-red.svg);
  opacity: 1;
}

.marker-4 {
  background-image: url(../media/prologue/marker-blue.svg);
  opacity: 1;
}

.mapboxgl-popup-content {
  font-family: 'IBM Plex Mono', monospace;
  background: black;
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.mapboxgl-popup-content img {
  width: 150px;
  height: 100%;
  margin-right: 10px
}

.mapboxgl-popup {
  min-width: 500px;
  z-index: 2;
}

.popup h3 {
  font-size: 2em;
  margin: 10px 0;
}

.popup p {
  margin: 5px 0;
}

strong {
  font-weight: 600;
}

.instructions {
  font-style: italic;
  z-index: 1;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.filters {
  width: 80%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.filter {
  cursor: crosshair;
  user-select: none;
  font-weight: 600;
  color: black;
  padding: 10px;
}

.filter-0 {
  background: cyan;
}

.filter-1 {
  background: chartreuse;
}

.filter-2 {
  background: magenta;
}

.filter-3 {
  background: red;
}

.filter-4 {
  background: blue;
}

.help-button {
  font-size: 1.5em;
  z-index: 1;
  position: absolute;
  top:5px;
  left:10px;
  cursor: pointer;
}

.help-button:hover {
  color: yellow;
}

.help-overlay {
  z-index: 4;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.5;
  cursor: pointer;
}

.help-panel {
  opacity: 1;
  z-index: 6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  border: 1px solid white;
}

.help {
  display: none;
  transition: display 1s;
}
